.background{
    -fx-background-size: 100%;
    -fx-background-image: url("../image/slice.png");
}

.buttons {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #4A586E 0%, #052555 100%),
            #4A586E,
            #E6E7E8,
            radial-gradient(center 50% 50%, radius 100%, #E6E7E8, #BCBEC0);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.buttons:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #4A586E 0%, #052555 100%),
            #4A586E,
            #E6E7E8,
            radial-gradient(center 50% 50%, radius 100%, #E6E7E8, #BCBEC0);
}
.buttons:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.buttons Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #052555 , 0,0,0,2 );
}

#s{
    -fx-background-image: url("image/first.png");
    -fx-background-size: 100%;

}